<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="page-header">
    {% if user.is_authenticated %}
    <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Logout</a>)</small></p>
    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><span class="">Login</span></a>
    {% endif %}
    <a class="top-menu" href="{% url 'informaticien_list' %}">Informaticiens</a>
    <a class="top-menu" href="{% url 'technicien_list' %}">Techniciens</a>
    <a class="top-menu" aria-current="page" href="{% url 'employee_list' %}">Employees</a>
    <h1><a href="/" class="logo-menu">MyCRUD</a></h1>
  </div>
  <div class="content container">
    <div class="row">
      <div class="">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>